body
{
    background-color: dimgray;
}
p
{
    background-color: rgb(64, 24, 172);
    color: rgb(11, 170, 243);
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}